

/* Cajas con contenido de color */
 
.caja-azul,
.caja-ploma1,
.caja-verde,
.caja-ploma2,
.caja-roja,
.caja-amarilla {
    margin:0 0 25px;
    overflow:hidden;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    -webkit-border-radius: 10px;
        border-radius: 10px;
font-family:courier;
text-align: center;
}
 
.caja-azul {
    background-color:#d8ecf7;
    border:1px solid #afcde3;
}
 
.caja-ploma1 {
    background-color:#e2e2e2;
    border:1px solid #bdbdbd;
}
 
.caja-verde {
    background-color:#d9edc2;
    border:1px solid #b2ce96;
}
 
.caja-ploma2 {
    background-color:#F5F5F5;
    border:1px solid #DDDDDD;
}
 
.caja-roja {
    background-color:#f9dbdb;
    border:1px solid #e9b3b3;

}
 
.caja-amarilla {
    background-color:#fef5c4;
    border:1px solid #fadf98;
}

/* botonabajo */
#botonabajo {
position: fixed;
top: 120px;
right: 2px;
z-index: 1000;
}
#botonabajo:hover {
top: 135px;
}
#botonburbuja {
position: fixed;
bottom: 0px;
right: 2px;
z-index: 1000;
}
#botonburbuja:hover {
top: 5px;



/*SLIDER*/

.slider-wrapper {
}
#slider {
}
#slider .banner.has-dots{
	height: auto!important;
	width: 100%!important;
}
#slider .banner.has-dots ul .item-thumbnail {
    width: 60%;
    height: 360px;
    float: left;
    margin: 0 20px 0 0;
}
#slider .banner.has-dots ul li {
    float: left;
    display: block;
    min-height: 360px;
	background: white;
}
#slider .banner.has-dots ul li .content {
    float: left;
    width: 400px;
    height: 360px;
}
#slider .banner.has-dots ul li .content .inner {
    height: 265px;
	overflow: hidden;
}
#slider .banner.has-dots ul li .content h3.title {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 4px dashed #EEE;
}
#slider .banner.has-dots ul li .content p {
    font: $(body.font);
    margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 1.5em;
}

#slider .banner.has-dots ul li .content a.read-more:hover {
	background: black;
	color: white;
}
#slider .banner.has-dots .dots .dot {
    display: inline-block;
	*display: inline;
    background: white;
    color: white;
    margin: 0 10px;
    width: 1.5em;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
}
#slider .banner.has-dots .dots {
    text-align: center;
    margin-bottom: 20px;
}
#slider .banner.has-dots .dots .dot.active,
#slider .banner.has-dots .dots .dot:hover  {
    background: $(maincolor);
    color: $(maincolor);
}
#slider .read-more {
    background: $(maincolor);
    color: white;
    padding: 10px 0;
    display: block;
    text-align: center;
    position: absolute;
	
    right: 0;
	bottom: 20px;
    width: 100%;
}
#slider .banner.has-dots ul li .content h3.title a:hover {
    text-decoration: none;
}



/*----------
/*CHAT*/

